.navbar {
  max-width: 133rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.7rem 2rem;
  position: absolute;
  /* top: 0; */
  /* top: 0; */
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 99999;
  margin: 0 auto;
}
.navbar__img {
  width: 10rem;
}
@media (max-width: 1000px) {
  .navbar__img {
    width: 8rem;
    width: 8rem;
  }
}
.navbar__img img {
  width: 100%;
  height: 100%;
}
.navbar__links {
  display: flex;
  list-style: none;
  gap: 2.1rem;
}
.navbar__links a {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: var(--text-primary);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
.navbar__links a:hover {
  color: var(--primary);
}

.navbar__button {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  align-items: center;
}

@media (max-width: 1000px) {
  .navbar__links,
  .navbar__links,
  .navbar__button {
    display: none;
  }
}

.navbar__button__contact {
  background-color: var(--primary);
  color: var(--black);
  padding: 1.5rem 3rem;
  border: 2px solid var(--primary);
  border-radius: 3px;
  transition: all 0.3s;
}
.navbar__button__contact:hover {
  background-color: transparent;
  color: var(--primary);
}
.navbar__button a {
  text-decoration: none;
}

.mobile-hamb {
  display: none;
  font-size: 2.8rem;
  cursor: pointer;
}
.mobile-hamb:hover {
  color: var(--primary);
}
@media (max-width: 1000px) {
  .mobile-hamb {
    display: flex;
    align-items: center;
  }
}
.mobile-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: var(--white);
  z-index: 999999;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.mobile-navbar__close {
  font-size: 3rem;
  position: absolute;
  top: 3.5rem;
  right: 3.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.mobile-navbar__close:hover {
  color: var(--primary-hover);
}
.mobile-navbar__links {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 2.3rem;
  gap: 3rem;
  text-align: center;
}
.mobile-navbar__links li a {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 500;
  transition: all 0.3s;
}
.mobile-navbar__links li a:hover {
  color: var(--primary-hover);
}
.open-nav {
  left: 0;
}
